automations/sprint-summary-generator/workflow/sprint-summary-generator.json
{
  "name": "Sprint Summary Generator",
  "version": "1.0.0",
  "description": "Automated sprint report generation using LLMs and multi-channel distribution.",
  "active": true,
  "nodes": [
    {
      "id": "node-trigger-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [5],
              "triggerAtHour": 17,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "id": "node-fetch-sprint-data",
      "name": "Fetch Sprint Tasks (Linear/Jira)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 300],
      "parameters": {
        "method": "GET",
        "url": "https://api.linear.app/graphql",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linearApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-ai-summarizer",
      "name": "Generate AI Executive Summary",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [750, 300],
      "parameters": {
        "model": "gemini-3.1-pro",
        "prompt": "You are an expert technical product manager. Analyze the following completed and carry-over tasks from our latest sprint. Generate a concise, engaging executive summary formatted in Markdown with highlights, metrics, and identified risks.\n\nRaw Data:\n{{ $json.sprintData }}"
      }
    },
    {
      "id": "node-send-slack-report",
      "name": "Send Summary to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1000, 300],
      "parameters": {
        "authentication": "webhook",
        "channel": "#product-updates",
        "text": "={{ $json.aiSummary }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Sprint Tasks (Linear/Jira)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Sprint Tasks (Linear/Jira)": {
      "main": [
        [
          {
            "node": "Generate AI Executive Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Executive Summary": {
      "main": [
        [
          {
            "node": "Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "tags": [
    "product-automation",
    "ai",
    "sprint-reporting"
  ]
}
